{# vllm-omni customized version
   Based on: https://github.com/vllm-project/ci-infra/blob/main/buildkite/test-template-amd.j2
   Last synced: 2025-12-15
   Modifications: Add Intel tests
#}
{% set default_working_dir = "/app/vllm-omni" %}

  - group: "INTEL Tests"
    depends_on: ~
    steps:
      - label: "Intel: XPU Test"
        depends_on: ~
        command: bash .buildkite/scripts/hardware_ci/run-xpu-test.sh
        agents:
          queue: intel-gpu-omni
        env:
          DOCKER_BUILDKIT: "1"
        priority: 100
        timeout_in_minutes: 60
        soft_fail: yes # TODO: set to false when the test is stable
