name: pre-commit

on:
  pull_request:
    branches: [main]
  workflow_dispatch: # for manual trigger

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

permissions:
  contents: read

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: 'pip'
      - name: Run pre-commit on PR
        if: github.event_name == 'pull_request'
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: >-
            --from-ref ${{ github.event.pull_request.base.sha }}
            --to-ref ${{ github.event.pull_request.head.sha }}
      - name: Run pre-commit on manual trigger
        if: github.event_name == 'workflow_dispatch'
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files --hook-stage manual
